#title, .center {
    text-align: center;
  }

main {
  margin: 40px;
}

input[type="number"] {
  width:195px;
}

#country {
  width:198px;
}

#dropdown {
  width:198px;
}

input, select, button {
  margin-top: 10px;
  margin-bottom: 10px;
}
