body {
  background-color: #167651;
  padding: 50px;
  margin: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  box-sizing: border-box;
  justify-content: stretch;
}

#title, .center {
    text-align: center;
  }

main {
  margin: 40px;
}

input[type="number"] {
  width:195px;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 7px;
}

#country {
  width:198px;
}

#dropdown {
  width:198px;
}

input, select, button {
  margin-top: 10px;
  margin-bottom: 10px;
}
