header {
  text-align: center;
}

.box {
  display: inline-block;
  width: 25px;
  height: 40px;
  border: solid red 2px;
  padding: 6px;
  margin: 6px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color: red;
}


body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 100px;
  margin: 0px;
}


form {
  display: grid;
  height: 50%;
  background-color: antiquewhite;
  background-image: url(images/paper-bg);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

input[type="checkbox"] {
  display: 
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}