header {
  text-align: center;
}

.box {
  display: inline-block;
  width: 25px;
  height: 40px;
  border: solid red 2px;
  padding: 6px;
  margin: 6px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color: red;
}


body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 100px;
  margin: 0px;
}


form {
  display: grid;
  height: 50%;
  background-color: antiquewhite;
  background-image: url(images/paper-bg);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

input[type="checkbox"] {
  display: 
}